<!DOCTYPE html>
<html>

<head>
    <title>Menú</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="/css/style.css" rel="stylesheet">
</head>
<!-- https://www.pizzeriascarlos.es/comida-a-domicilio-nuestra-carta -->

<body id="main">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="https://images.vexels.com/media/users/3/128437/isolated/preview/2dd809b7c15968cb7cc577b2cb49c84f-pizza-restaurante-restaurante-de-comida.png"
                    style="width: 10vw;">
            </div>
            <div class="col-8">
                <div class="container" style="background-color: rgb(0, 0, 0, 0.7);">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="d-grid gap-">
                                <button id="dropdownmenubar" type="button" class="btn dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <a style="color: rgba(239, 174, 22, 1);">Entrantes</a>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownmenubar"
                                    style="background-color: rgba(239, 174, 22, 1); text-align: center;">
                                    <li><a class="dropdown-item" href="index.html" id="dropdownmenu">Entrantes</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-grid gap-">
                                <button id="dropdownmenubar" type="button" class="btn dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <a style="color: rgba(239, 174, 22, 1);;">Nuestros Platos</a>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownmenubar"
                                    style="background-color: rgba(239, 174, 22, 1); text-align: center;">
                                    <li><a class="dropdown-item" href="index.html" id="dropdownmenu">Pasta clasica</a>
                                    </li>
                                    <li><a class="dropdown-item" href="index.html" id="dropdownmenu">Pizzas</a></li>
                                    <li><a class="dropdown-item" href="index.html" id="dropdownmenu">Platos
                                            tradicionales</a></li>
                                    <li><a class="dropdown-item" href="index.html" id="dropdownmenu">Pasta rellena</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-grid gap-">
                                <button id="dropdownmenubar" type="button" class="btn dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <a style="color: rgba(239, 174, 22, 1);">Postres</a>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownmenubar"
                                    style="background-color: rgba(239, 174, 22, 1); text-align: center;">
                                    <li><a class="dropdown-item" href="index.html" id="dropdownmenu">Postres</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-grid gap-">
                                <button id="dropdownmenubar" type="button" class="btn dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <a style="color: rgba(239, 174, 22, 1);">About us</a>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownmenubar"
                                    style="background-color: rgba(239, 174, 22, 1); text-align: center;">
                                    <li><a class="dropdown-item" href="index.html" id="dropdownmenu">Nuestra historia</a></li>
                                    <li><a class="dropdown-item" href="index.html" id="dropdownmenu">Contacto</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="texto">
                <h1>Pizze rosse</h1>
                <h6>Pizzas con tomate</h6>
            </div>
            <div class="container">
                <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
                    <div class="col">
                        <div class="card text-center border-dark h-100">
                            <img class="card-img h-100"
                                src="https://sources-01.s3.eu-west-3.amazonaws.com/produccion/recursos/430/imagenes/fotos/articulos/PF4F.png">
                            <div class="card-text">
                                <h4>4 Formaggio</h4>
                                <a href="elemento.html" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center border-dark h-100">
                            <img class="card-img h-100"
                                src="https://sources-01.s3.eu-west-3.amazonaws.com/produccion/recursos/430/imagenes/fotos/articulos/PFBB.png">
                            <div class="card-text">
                                <h4>Barbacoa de Pollo</h4>
                                <a href="elemento.html" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center border-dark h-100">
                            <img class="card-img h-100"
                                src="https://sources-01.s3.eu-west-3.amazonaws.com/produccion/recursos/430/imagenes/fotos/articulos/PFBBCCC.png">
                            <div class="card-text">
                                <h4>BBQ Crispy</h4>
                                <a href="elemento.html" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center border-dark h-100">
                            <img class="card-img h-100"
                                src="https://sources-01.s3.eu-west-3.amazonaws.com/produccion/recursos/430/imagenes/fotos/articulos/PFCA.png">
                            <div class="card-text">
                                <h4>Carbonara</h4>
                                <a href="elemento.html" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center border-dark h-100">
                            <img class="card-img h-100"
                                src="https://sources-01.s3.eu-west-3.amazonaws.com/produccion/recursos/430/imagenes/fotos/articulos/PFCARLIN.png">
                            <div class="card-text">
                                <h4>Carlina</h4>
                                <a href="elemento.html" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center border-dark h-100">
                            <img class="card-img h-100"
                                src="https://sources-01.s3.eu-west-3.amazonaws.com/produccion/recursos/430/imagenes/fotos/articulos/PFDELUXE.png">
                            <div class="card-text">
                                <h4>Deluxe</h4>
                                <a href="elemento.html" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center border-dark h-100">
                            <img class="card-img h-100"
                                src="https://sources-01.s3.eu-west-3.amazonaws.com/produccion/recursos/430/imagenes/fotos/articulos/PFDI.png">
                            <div class="card-text">
                                <h4>Diabola</h4>
                                <a href="elemento.html" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center border-dark h-100">
                            <img class="card-img h-100"
                                src="https://sources-01.s3.eu-west-3.amazonaws.com/produccion/recursos/430/imagenes/fotos/articulos/PFNBBC.png">
                            <div class="card-text">
                                <h4>New BBQ</h4>
                                <a href="elemento.html" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center border-dark h-100">
                            <img class="card-img h-100"
                                src="https://sources-01.s3.eu-west-3.amazonaws.com/produccion/recursos/430/imagenes/fotos/articulos/PFCARPE.png">
                            <div class="card-text">
                                <h4>Peperoni</h4>
                                <a href="elemento.html" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center border-dark h-100">
                            <img class="card-img h-100"
                                src="https://sources-01.s3.eu-west-3.amazonaws.com/produccion/recursos/430/imagenes/fotos/articulos/PFTR.png">
                            <div class="card-text">
                                <h4>Tropicale</h4>
                                <a href="elemento.html" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center border-dark h-100">
                            <img class="card-img h-100"
                                src="https://sources-01.s3.eu-west-3.amazonaws.com/produccion/recursos/430/imagenes/fotos/articulos/PFVE.png">
                            <div class="card-text">
                                <h4>Vegetale</h4>
                                <a href="elemento.html" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="texto">
                <h1>Pizze bianca</h1>
                <h6>Pizzas sin tomate</h6>
            </div>
            <div class="container">
                <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
                    <div class="col">
                        <div class="card text-center border-dark h-100">
                            <img class="card-img h-100"
                                src="https://sources-01.s3.eu-west-3.amazonaws.com/produccion/recursos/430/imagenes/fotos/articulos/PFCABR.png">
                            <div class="card-text">
                                <h4>Cabrini</h4>
                                <a href="elemento.html" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                    {{#pizzas}}
                    <div class="col">
                        <div class="card text-center border-dark h-100">
                            <img class="card-img h-100"
                                src="{{url}}">
                            <div class="card-text">
                                <h4>{{nombre}}</h4>
                                <a href="{{id}}" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                    {{/pizzas}}
                    {{^pizzas}}
                    {{/pizzas}}
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <a role="button" class="btn btn-secondary" style="margin-top: 20px; margin-bottom: 20px;"
                        href="formulario_elemento_nuevo.html">Crear nuevo
                        elemento</a>
                </div>
            </div>
        </div>
</body>

</html>